nav{
background-color: aqua;
list-style-type: none;
overflow: hidden;
padding: 10px;
height: 50px;
  width: 100%;
  /* position: relative; */
 
/* display: block; */
}
nav .icon{
    display: none;
}
nav ul{
    display: inline;
    /* padding: 0px 20px;  */
}
nav ul li{
    display: inline-block;
   
    text-decoration: none;
    padding: 0px 10px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
nav .login li{
    float: right;
/* padding-right: 20px;
  padding-top: 20px; */
  
}
nav .login a{
    padding: 5px;
    background-color: black;
    color: #fff;
    font-size: 1.25rem;
    border-radius: 5px;
}
nav  a:hover{
  text-decoration: none;
    opacity: 0.5;
}
.box{
    width: 100%;
    height:400px; 
    background-color: black;
    
}
.box .content{
    float: left;
    color: #fff;
    padding: 50px 0 0 50px;
}
.box img{
   height: 400px;
    float: right;
    border-radius: 50%;
 
}
.box .content h1{
    width: 80%;
    font-size:3.5rem;
}
.box .content button{
    background-color: aqua;
    padding: 10px;
    border-radius: 5px;
}
.heading{
    margin: 20px 0px 0px 30px;
    font-size: larger;
}
.categories{
    padding: 20px 50px 0;
    text-align: center;
}
.categories .row .column{
    margin: 20px 0px;
}
.categories img{
    width: 30%;
    height: 70%;
}
.categories .fashiontext{
   background-color: aqua;
   margin: 0px 40px;
}
footer{
    background-color: black;
    color: #fff;
    line-height: 1.5;
    padding: 10px;
}
footer ul {
list-style: none;
}
footer a{
text-decoration: none;
color: #eee;
}
 footer .items a:hover{
text-decoration: underline;
color: blue;
}

.socialmedia ul li {
font-size: 30px;
text-align: center;
text-decoration: none;
padding: 0px 5px;
}
.socialmedia i{
padding: 10px;
border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-google {
background: #dd4b39;
color: white;
}

.fa-linkedin {
background: #007bb5;
color: white;
}

.fa-youtube {
background: #bb0000;
color: white;
}

.fa-instagram {
background: #125688;
color: white;
}
  
@media screen and (max-width: 480px) {
    nav  li a,button {
        display: none;
    }
    nav .icon {
        float: right;
        display:block;
        padding: 5px;
        /* margin: 10px; */
        /* position: relative; */
      }
.box img{
    display: none;
}
.box{
    height: 400px;
}
.box button{
    display: block;
}
.box .content{
    padding-top: 0px;
}
.box .content h1{
    font-size: 3rem;
  }

}
  @media screen and (max-width:1030px){
    /* nav  li a,button {
        display: none;
    }
    nav .icon {
        float: right;
        display: block;
        padding: 5px;
        margin: 10px;
        
      } */
    .box{
        display: flex;
        height: 400px;
    }
  }